//
//  Typography
// --------------------

$font-family: "Poppins", "Helvetica Neue", "Helvetica", sans-serif;
$font-size-base:   16px !default;
$fs-base:   1rem;   // 16px
$fs-small:  .87rem; // 14px

$fw-light:  300;
$fw-reg:    400;
$fw-sbold:  600;
$fw-bold:   700;

$font-weight:   $fw-light;  // light
$h-font-weight: $fw-sbold;  // semi-bold

$h1-size: 2.125rem;  // 34px;
$h2-size: 1.875rem;  // 30px;
$h3-size: 1.625rem;  // 26px;
$h4-size: 1.375rem;  // 22px;
$h5-size: 1.125rem;  // 18px;
$h6-size: 1rem;      // 16px;


//
//  Transition / Animation
// --------------------------

$tspeed: .35s;


//
//  Breakpoints
// --------------------

$xs: 0;         // extra small
$sm: 576px;     // small
$md: 768px;     // medium
$lg: 992px;     // large
$xl: 1200px;    // extra large



//
//  Colors
// --------------------

$dark:          #262628;
$gray:          #66686F !default;
$gray-light:    #AAABAF !default;
$light:         #DDD    !default;
$lighter:       #f4f4f4 !default;
// alerts
$error:         #E94F37;
$warning:       #F0C808;
$success:       #009B72;
$info:          #009DDC;
// theme demo colors
$impact-yellow: #FFD400;
$impact-dark:   #131515;
$royal-gold:    #F2CD5D;
$royal-green:   #104547;
$energy-green:  #A1EF8B;
$energy-blue:   #152860;
$mint-green:    #4DBC65;
$mint-dark:     $dark;
$mono-dark:     $dark;
$dm-dark:       #232323;
$dm-green:      #A1EF8B;
$smooth-blue:   #273158;
$smooth-red:    #F13140;
// accents
$primary:       $impact-yellow  !default;
$secondary:     $impact-dark    !default;
// elements color
$text-color: $gray !default;
$headings-color: $secondary;
$link-color: darken($primary, 3%);
$footer-bg: $primary !default;



//
//  Elementor
// --------------------

$elementor_widget_gap: 0 15px;



//
//  Navigation
// --------------------

$nav_height: 85px;
$nav_sec_height: 50px;
$nav_bg: #fff;
$nav_sec_bg: $secondary;
$nav_dropdown_bg: $secondary;
$nav_border: rgba($secondary, .1);