/*
    [4.1] Button Regular
--------------------------------- */

.btn-reg {
    box-shadow: 0 0 0 $primary;
    transition: all $tspeed;
    line-height: 1;

    &:hover,
    &:focus {
        color: $primary;
        box-shadow: 7px 7px 0px $primary;
    }

    span {
        flex-shrink: 1;
    }
}

.btn-inverted.btn-reg {
    background: $primary;
    color: $secondary;
    box-shadow: 0 0 0 $secondary;

    &:hover,
    &:focus {
        color: $secondary;
        box-shadow: 7px 7px 0px $secondary;
    }
}

.btn-sm.btn-reg {

    &:hover,
    &:focus {
        box-shadow: 5px 5px 0px $primary;
    }
}

.btn-lg.btn-reg {

    &:hover,
    &:focus {
        box-shadow: 10px 10px 0px $primary;
    }
}