/*
    [4.5] Play Button
--------------------------------- */

.btn-play,
a.btn-play,
.elementor a.btn-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background: $primary;
    color: $secondary;
    box-shadow: 0 0 0 11px rgba($primary, .3), 0 0 0 22px rgba($primary, .15);
    transition: all .5s;
    animation: animPlayButton 2s ease-in-out infinite;

    i {
        transform: translateX(0);
        transition: all $tspeed;
    }

    &:hover {
        animation-play-state: paused;
        background: lighten($primary, 5%);
        
        i {
            animation: animPlayButtonIcon .5s .15s ease-in-out;
        }
    }

    &:focus {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba($primary, .2), 0 0 0 0 rgba($primary, .15);
    }
}

@keyframes animPlayButton {
    0% {
        box-shadow: 0 0 0 11px rgba($primary, .3), 0 0 0 22px rgba($primary, .15);
    }

    50% {
        box-shadow: 0 0 0 0 rgba($primary, .2), 0 0 0 0 rgba($primary, .15);
    }

    100% {
        box-shadow: 0 0 0 11px rgba($primary, .3), 0 0 0 22px rgba($primary, .15);
    }
}

@keyframes animPlayButtonIcon {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    33% {
        transform: translateX(20px) scale(.75);
        opacity: 0;
    }

    66% {
        transform: translateX(-20px) scale(.75);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}