/*
    [6.10] 404 Not Found - Page
--------------------------------- */

.page-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: $secondary;

    .content-wrapper {
        text-align: center;

        h1 {
            display: flex;
            flex-flow: column;
            color: $primary;
            font-size: 4rem;
    
            span {
                font-size: $h3-size;
            }
        }

        p {
            margin-top: 25px;
            color: $gray-light;
            opacity: .8;
            line-height: 2;

            a {
                @include a-silent($fhcolor: $link-color);
                color: $primary;
            }
        }
    }
}