/*
    [6.8] Author Bio (single post)
----------------------------------- */

.author-bio {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 90px;
    padding: 40px;
    background: $lighter;
    text-align: center;

    img {
        border-radius: 100px;
        margin: auto;
        max-width: 70px;
        height: auto;
        align-self: flex-start;
    }

    .bio-nickname {
        display: block;
        padding-top: 10px;
        padding-bottom: 7px;
        font-size: $fs-small;
        color: $gray;
        opacity: .7;
    }

    .bio-name {
        font-weight: $fw-sbold;
        color: $secondary;
    }

    .bio-description {
        margin-top: 30px;
        color: $gray;

        .social-icons  {
            margin-top: 30px;
            justify-content: center;
        }
    }
} // .author-bio

@media (min-width: $md) {
    .author-bio {
        flex-flow: row;
        justify-content: flex-start;
        text-align: unset;

        img {
            margin: unset;
            margin-right: 30px;
        }

        .bio-description {

            .social-icons {
                justify-content: flex-start;
            }
        }
    }
}