/*
    [5.0] Forms
--------------------------------- */

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[type="url"],
textarea,
select {
    display: block;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
    border-radius: 0;
    border: 1px solid $gray-light;
    transition: all $tspeed;

    &:hover,
    &:focus {
        border-color: $secondary;
    }
}

textarea {
    padding: 10px 20px;
    height: unset;
    min-height: 50px;
}

input[type="submit"] {
    height: 50px;
    width: 100%;
    border-radius: 0;
    border: none;
    background: $secondary;
    color: $primary;
    box-shadow: unset;
    transition: all $tspeed;

    &:hover,
    &:focus {
        color: $secondary;
        background: $primary;
    }
}

p > label {
    display: block;
    width: 100%;
    font-weight: $fw-sbold;
    font-size: $fs-small;
    color: $secondary;
}