/*
    [11.9] Feature - Intro
--------------------------------- */

.ft-intro {
    display: block;

    .ft-i-img-wrapper {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -20%;
            display: none;
            background: $primary;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        img {
            position: relative;
            width: 100%;
            height: auto;
            z-index: 2;
        }
    }

    figcaption {
        position: relative;
        right: 0;
        top: 20%;
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 40px;
        background: #fff;
        text-align: center;
        z-index: 3;

        .ft-i-title {
            margin-bottom: 30px;
        }

        .ft-i-footer {
            margin-top: 30px;
            text-align: center;

            .ft-i-footer-cta {
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: $md) {
    .ft-intro {

        figcaption {
            padding: 60px;
            
            .ft-i-footer {
                display: flex;
                justify-content: space-between;

                .ft-i-footer-cta {
                    margin-top: unset;
                }
            }
        }
    }
}

@media (min-width: $lg) {
    .ft-intro {
        display: inline-block;

        .ft-i-img-wrapper {

            &:before {
                top: -10%;
                max-width: 240px;
            }

            img {
                right: 0;
            }
        }

        figcaption {
            position: absolute;
            top: 10%;
            padding: 90px 60px;
            max-width: 500px;
            text-align: unset;
        }
    }
}

@media (min-width: $xl) {
    .ft-intro {

        .ft-i-img-wrapper {

            &:before {
                display: block;
            }

            img {
                right: -13%;
            }
        }

        figcaption {
            padding: 90px 80px 40px 80px;
            max-width: 600px;
        }
    }
}