/*
    [11.10] Feature - Intro 2
--------------------------------- */

.ft-intro-2 {
    position: relative;
    display: block;
    width: 100%;

    .ft-i-img-wrapper {

        img.img-deco {
            display: none;
            z-index: 1;
        }

        img.img-main {
            position: relative;
            width: 100%;
            z-index: 2;
        }
    }

    figcaption {
        position: relative;
        top: -50px;
        display: block;
        padding: 60px 30px;
        width: 100%;
        background: $lighter;
        z-index: 3;

        .ft-i-title {
            margin-bottom: 30px;
        }

        .btn {
            margin-top: 30px;
        }
    }
}

@media (min-width: $sm) {
    .ft-intro-2 {

        figcaption {
            padding: 60px;
        }
    }
}

@media (min-width: $lg) {
    .ft-intro-2 {
        display: inline-block;

        .ft-i-img-wrapper {
            text-align: center;

            img.img-deco {
                display: block;
                position: absolute;
                top: -15%;
                right: 0;
            }

            img.img-main {
                right: -7%;
                width: auto;
            }
        }

        figcaption {
            position: absolute;
            top: 15%;
            left: 0;
            max-width: 470px;
        }
    }
}